@media (min-width: 540px) {
  .forecastContainer {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

    gap: 10px;

    .forecastTile {
      margin: 0;

      .forecastTempContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
      }
    }
  }

  #searchContainer {
    max-width: 700px;
    margin: auto;
    margin-bottom: 4%;
  }
}
