@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

html {
  font-size: 62.5%;
  font-family: "Lato", sans-serif;
  font-weight: 400;

  background: linear-gradient(
      346deg,
      rgba(54, 63, 212, 1) 0%,
      rgba(29, 253, 205, 1) 94%
    )
    no-repeat center center fixed;

  body {
    margin: 0;
  }

  header {
    margin: 15px 0;
    text-align: center;

    h1 {
      font-size: 2.5rem;
      font-weight: 700;
      background-color: white;
      width: 100%;
    }
    h2 {
      margin: auto;
    }
  }
}

main {
  width: 90%;
  margin: auto;
}

#searchContainer {
  display: flex;
  margin-bottom: 15px;
  position: sticky;
  top: 0px;
  background-color: rgba(0, 0, 0, 0);

  * {
    font-size: 2rem;
  }

  input {
    flex-grow: 1;
    padding-left: 10px;
    border-radius: 10px;
    background-color: gainsboro;
    border-style: solid;
  }
  button {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background-color: white;

    &:hover {
      transition: background-color 1s;
      background-color: rgb(97, 248, 38);
    }
  }
}

#weatherContainer {
  font-size: 2rem;

  .successfulMessage,
  .failureMessage {
    text-align: center;
    margin-bottom: 15px;
  }
  .failureMessage {
    background-color: #ff3838;
    padding: 10px;
    border-radius: 10px;
  }
}

.forecastContainer {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: auto;

  .forecastTile {
    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 25px;

    margin: 0 0 4% 0;
    padding: 10px;

    &,
    div,
    img {
      background-color: white;
    }

    .forecastTempDescriptionContainer {
      display: flex;
      .forecastActualTempContainer,
      .forecastFeelsLikeTempContainer {
        margin: 10px;
      }
    }

    .forecastDate {
      text-decoration: underline;
    }
    .forecastDescription {
      text-transform: capitalize;
    }
  }
}

.helpContainer {
  position: fixed;
  bottom: 0px;
  right: 0px;

  > * {
    font-size: 1.5rem;
    background-color: white;
    border: 1px black solid;
    padding: 5px;
  }

  .helpShow {
    transition: all 0.5s ease-in;
  }

  .helpInformation {
    position: fixed;
    bottom: 0;
    right: 0;
    opacity: 0;
    transition: opacity 1s ease-in;
    transform: translateX(100%);

    width: 250px;
    height: auto;
  }

  &:hover > .helpInformation {
    opacity: 100;
    transform: translateX(0%);
  }
  &:hover > .helpShow {
    opacity: 0;
    border: 0px;
  }
}

img {
  width: 20vw;
  height: 20vw;
  max-width: 200px;
  max-height: 200px;
  min-width: 100px;
  min-height: 100px;
}
